{% extends 'base.html' %}
{% block title %}Ecommerce - Cart{% endblock %}
{% block content %}
{% if empty == False %}
<!--Section: Block Content-->
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
  id="chevron-down" viewBox="0 0 16 16" style="display: none;">
  <path fill-rule="evenodd"
    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
</svg>
<section>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-8">

      <!-- Card -->
      <div class="card wish-list mb-3">
        <div class="card-body">

          <h5 class="mb-4">Cart (<span>{{ length_order_items }}</span> items)</h5>

          {% for order_item in order_items %}
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <a href="{% url 'article:show' slug=order_item.slug %}">
                  <div class="mask waves-effect waves-light">
                    <img class="img-fluid w-100" src="{{ order_item.image.url }}">
                    <div class="mask rgba-black-slight waves-effect waves-light"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between text-center">
                  <div>
                    <h5>{{ order_item.title | truncatechars:36 }}</h5>
                  </div>
                  <div>
                    <div class="text-center" style="border: 1px solid #ced4da;">
                      <a href="{% url 'cart:item-decrease' id=order_item.id %}" class="text-decoration-none px-2">-</a>
                      <p class="d-inline-block mb-0 py-1 px-3"
                        style="border-left: 1px solid #ced4da; border-right: 1px solid #ced4da;">{{order_item.quantity}}
                      </p>
                      <a href="{% url 'cart:item-increase' id=order_item.id %}" class="text-decoration-none px-2">+</a>
                    </div>
                    <small class="form-text text-muted">
                      Stock: {{ order_item.stock}}
                    </small>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center pt-3">
                  <div>
                    <a href="{% url 'cart:item-increase' id=order_item.id %}" type="button"
                      class="card-link-secondary small text-uppercase mr-3"><i class="fas fa-trash-alt mr-1"></i> Remove
                      item </a>
                  </div>
                  <p class="mb-0"><span><strong>${{ order_item.price }}</strong></span></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="mb-4">
          {% endfor %}
        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <h5 class="mb-3">The total amount of</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Temporary amount
              <span>${{ order_total_without_iva }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span>Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>The total amount of</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span><strong>$ {{ order_total_with_iva }}</strong></span>
            </li>
          </ul>

          <div class="d-grid mb-2">
            <!-- <a href="{% url 'cart:create-checkout-session' %}" class="btn btn-success btn-block waves-effect waves-light">Go to -->
              <!-- checkout</a> -->
            <form action="{% url 'cart:create-checkout-session' %}" method="POST">
              {% csrf_token %}
              <button type="" class="btn btn-success btn-block waves-effect waves-light">Go to checkout</button> 
            </form>
          </div>

        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Block Content-->
{% else %}
<div class="card w-50 mx-auto">
  <div class="card-body">
    <h5 class="h1 card-title">Your cart is empty</h5>
    <p class="card-text">Not sure what to buy? Thousands of products await you!</p>
    <a href="{% url 'store:index' %}" class="btn btn-primary">Go to buy!</a>
  </div>
</div>
{% endif %}
{% endblock content %}
