{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ecommerce - Login</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/lux/bootstrap.min.css"
		integrity="undefined" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body class="text-center">
	<main class="form-signin">
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<h1 class="h3 mb-5 fw-normal">Please sign in</h1>

			<div class="form-floating mb-4">
				{{ form.username | add_class:'form-control' }}
				<label for="id_username">Email address</label>
			</div>
			<div class="form-floating mb-4">
				{{ form.password | add_class:'form-control' }}
				<label for="id_password">Password</label>
			</div>
			{% if messages %}
				{% for msg in messages %}
					<div class="alert alert-success" role="alert">
						{{ msg }}
					</div>	
				{% endfor %}
			{% endif %}

			{% if form.errors %}
				<div class="alert alert-danger" role="alert">
					Please enter a correct email and password.
				</div>	
			{% endif %}
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted">&copy; Ecommerce | Fernando Guerrero </p>
		</form>
	</main>
</body>

</html>
