@media (min-width: 992px) {
			.mobile-icon {
				display: none;
			}


			.navbar {
				padding: 1rem 7rem;
			}

		}

		@media (max-width:992px) {
			.mobile-icon1 {
				display: none;
			}

			.navbar {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				padding-left: 1rem;
				padding-right: 1rem;
			}
