{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div>

	<h2 class="text-center">Lastest Articles</h2>
	<div class="row p-2 bd-highlight">
	</div>
	<div class="row g-8 p-4">

		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xxl-2.4 my-2">
			<div class="card">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61u4FYXctPL._AC_SL1200_.jpg"
					class="card-img-top" alt="..." height="200" width="200">
				<div class="card-body">
					<h5 class="card-title text-dark">Card title</h5>
					<p class="card-text text-body">This is a longer card with supporting text below as a natural lead-in
						to
						additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-primary mx-2">Add to cart</a>
					<a href="#" class="card-link">See more</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xxl-2.4 my-2">
			<div class="card">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61u4FYXctPL._AC_SL1200_.jpg"
					class="card-img-top" alt="..." height="200" width="200">
				<div class="card-body">
					<h5 class="card-title text-dark">Card title</h5>
					<p class="card-text text-body">This is a longer card with supporting text below as a natural lead-in
						to
						additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-primary mx-2">Add to cart</a>
					<a href="#" class="card-link">See more</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xxl-2.4 my-2">
			<div class="card">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61u4FYXctPL._AC_SL1200_.jpg"
					class="card-img-top" alt="..." height="200" width="200">
				<div class="card-body">
					<h5 class="card-title text-dark">Card title</h5>
					<p class="card-text text-body">This is a longer card with supporting text below as a natural lead-in
						to
						additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-primary mx-2">Add to cart</a>
					<a href="#" class="card-link">See more</a>
				</div>
			</div>
		</div>





		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xxl-2.4 my-2">
			<div class="card">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61u4FYXctPL._AC_SL1200_.jpg"
					class="card-img-top" alt="..." height="200" width="200">
				<div class="card-body">
					<h5 class="card-title text-dark">Card title</h5>
					<p class="card-text text-body">This is a longer card with supporting text below as a natural lead-in
						to
						additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-primary mx-2">Add to cart</a>
					<a href="#" class="card-link">See more</a>
				</div>
			</div>
		</div>





		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xxl-2.4 my-2">
			<div class="card">
				<img src="https://images-na.ssl-images-amazon.com/images/I/61u4FYXctPL._AC_SL1200_.jpg"
					class="card-img-top" alt="..." height="200" width="200">
				<div class="card-body">
					<h5 class="card-title text-dark">Card title</h5>
					<p class="card-text text-body">This is a longer card with supporting text below as a natural lead-in
						to
						additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-primary mx-2">Add to cart</a>
					<a href="#" class="card-link">See more</a>
				</div>
			</div>
		</div>










	</div>
</div>
{% endblock %}